# Databases
*.db
# Certificates
*.bak
*.pem
*.key
*.pub
# Folders
senaite
mailcow-dockerized
monero
lims
jupyter-nb
youtube-dl
youtube-dl-webui
pihole
yt-dlp
homer
alltube
result.csv
# Traefik SSL certificates
core/traefik-data/acme.json