# Databases
*.db
# Certificates
*.bak
*.pem
*.key
*.pub
# Folders
senaite
mailcow-dockerized
monero
lims
jupyter-nb
youtube-dl
youtube-dl-webui
pihole
yt-dlp
homer
alltube
# Speedtest results
result.csv
# Traefik SSL certificates
acme.json
# Transmission
apps/transmission/downloads
apps/transmission/watch
apps/transmission/config
